.article-view {
  background-color: $wemucs-content-background-color;

  margin: 1em 0;
  padding: 0.5em;

  h2 {
    margin-bottom: 1em;

    font-weight: 300;
    font-size: 1.3em;
  }

  p + ul {
    margin-top: -0.5rem;
  }

  .article-img {
    margin-bottom: 1em;
  }

  .article-credentials {
    color: $wemucs-text-color;

    margin-top: 3em;

    font-size: 1em;
    text-align: center;
  }

  .article-topic {
    color: $wemucs-subtitle-color;

    margin-top: 0.5em;

    font-size: 1em;
    font-weight: 300;
    text-align: center;
  }
}

.related-articles {
  h1 {
    margin-left: 0.5em;
  }
}
