.section-title {
  margin: 0.25em;
}

.credentials {
  font-weight: 200;
  text-align: center;
  margin: 1em 0;
}

@media #{$small-only} {
  .column, .columns {
    padding-left: 0;
    padding-right: 0;
  }
}
