// ------------------------------
// - Article module
// ------------------------------

.article, .box {
  background-color: $color-white;
  border: 1px solid $article-border-color;
  margin: 5px 0;

  + .article {
    margin-top: 15px;
  }
}

.article {
  .article-body {
    padding: 10px;
  }

  .article-title {
    font-size: 1.5rem;
  }

  .article-title a {
    color: $article-text-color;

    &:hover,
    &:focus {
      color: darken($article-text-color, 20%);
      text-decoration: none;
    }
  }

  .article-content {
    color: $article-text-color;
    font-size: 1rem;
  }

  .article-credentials {
    color: $article-text-color;
  }
}

.content {

}


// - Responsive content
// ------------------------------
@media #{$medium-up} {
  .content {
    .article {
      min-height: 340px;

      .article-title {
        min-height: 66px;
      }

      .article-content {
        min-height: 50px;
      }
    }
  }
}

@media #{$large-up} {
}

