// ------------------------------
// - Article module
// ------------------------------

.article-entry {
  border: 1px solid #e9e9e9;
  margin: 5px 0;
  padding: 15px;

  + .article-entry {
    margin-top: 15px;
  }
}

.article-entry {
  .article-title {
    font-size: 1.5rem;
  }

  .article-title a {
    color: #505050;

    &:hover,
    &:focus {
      color: darken(#505050, 20%);
      text-decoration: none;
    }
  }

  .article-content {
    font-size: 1rem;
  }
}


// - Responsive content
// ------------------------------
@media #{$medium-up} {
  .article-entry {
    min-height: 340px;

    .article-title {
      min-height: 66px;
    }

    .article-content {
      min-height: 50px;
    }
  }
}

@media #{$large-up} {
}

