// ------------------------------
// - SCSS Variables
// ------------------------------

// Colors
// -------------------------
$color-light-gray: #b3b3b3;
$color-gray: #202020;
$color-dark-gray: #161616;
$color-white: #fff;
$color-black: #000;
$color-red: #e64343;
$color-light: #fafafa;
$color-gray-text: #7d7c7c;


// Typography
// -------------------------
$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$base-font-family: $font-family-sans-serif;

$base-font-size: 14px;
$header-line-height: 1.1;
$base-line-height: 1.1;

$paragraph-margin-bottom: 0.7rem;

$row-width: 980px;

// General
// -------------------------
$header-bg-color: $color-red;
$body-bg-color: $color-light;
$subheader-bg-color: $color-gray;
$footer-copyrights-bg-color: $color-dark-gray;

$footer-height: 65px;

// Modules
// -------------------------

// Articles
$article-border-color: lighten($color-light-gray, 20%);
$article-text-color: lighten($color-gray, 20%);
