// ------------------------------
// - SCSS Variables
// ------------------------------

// Colors
// -------------------------
$color-light-gray: #b3b3b3;
$color-gray: #202020;
$color-dark-gray: #161616;
$color-white: #fff;
$color-black: #000;
$color-red: #e64343;
$color-light: #fafafa;
$color-gray-text: #7d7c7c;


// Typography
// -------------------------
$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$base-font-family: $font-family-sans-serif;

$base-font-size: 14px;
$header-line-height: 1.1;
$base-line-height: 1.1;

$paragraph-margin-bottom: 0.7rem;

$row-width: 980px;

// General
// -------------------------
$wemucs-content-background-color: #ffffff;
$wemucs-title-color: #AD1730;
$wemucs-text-color: #000    ;
$wemucs-subtitle-color: #969696;
$wemucs-light-color: #ccc;

$header-bg-color: $color-red;
$body-bg-color: $color-light;
$subheader-bg-color: $color-gray;
$footer-copyrights-bg-color: $color-dark-gray;


// Foundation related settings
$body-bg: $color-light;
$body-font-color: $wemucs-text-color;

$header-font-color: $wemucs-title-color;
$small-font-color: $wemucs-subtitle-color;

// Modules
// -------------------------

// Topbar
$topbar-height: 45px;
$topbar-margin-bottom: 0;

$topbar-link-color: $wemucs-subtitle-color;
$topbar-menu-link-color: $topbar-link-color;
$topbar-menu-icon-color: $topbar-link-color;

$topbar-dropdown-bg: $topbar-bg-color;
$topbar-dropdown-link-color: $topbar-link-color;
$topbar-dropdown-link-bg: $topbar-bg-color;

// Background color for the top bar
$topbar-bg-color: #ffffff;
$topbar-bg: $topbar-bg-color;

// Paths
// -------------------------
